<div class="product">
	<div class="product-field">
		{{product.productName}}
	</div>
	<div class="product-field">
		{{product.productPrice}}
	</div>
	<div class="product-field-image">
		<img src="{{product.productImageUrl}}" width="400px">
	</div>
	<div class="product-field">
		{{product.productDescription}}
	</div>
	<div class="product-field">
		{{product.productAdditionalInfo}}
	</div>
	<div>
		<a href="/details/{{id}}"><button class="details-item">Details</button></a>
	</div>
</div>