<div class="product">
	<div class="product-field">
		{{productName}}
	</div>
	<div class="product-field">
		{{productPrice}}
	</div>
	<div class="product-field">
		{{productImageUrl}}
	</div>
	<div class="product-field">
		{{productDescription}}
	</div>
	<div class="product-fiel">
		{{productAdditionalInfo}}
	</div>
</div>